{% load staticfiles %}
<div class="panel-group" id="panel-509190">
    <button type="button" class="btn btn-default btn-block disabled">文章归档</button>
    {% for year, months in archive_list %}
        <div class="panel panel-default">
            <div class="panel-heading" id="heading{{ forloop.counter }}">
                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-509190" href="#collapse{{ forloop.counter }}">
                    {{ year }} 年
                 </a>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for month in months %}
                        <a href="{% url "blog:pigeonhole" %}?year={{ year }}&month={{ month }}"><p>{{ month }} 月</p></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
