{% load staticfiles %}
{% load myfilter %}
<div class="articleRepeat">
    {% if article.is_original %}
        <p>本文为<a href="/">{{ SITE_NAME }}</a>原创</p>
        <p>欢迎一切非营利性质的转载，转载请保留原文信息</p>
        <p>商业转载请<a href="mailto:{{SITE_EMAILL}}">通过邮件联系我</a>
        或<a href="{% url 'blog:article' 2747 article.title %}">点此进入申请页面</a>
        </p>
    {% else %}
        <p>本文转载自<a href="{{ article.url_old | urlparse_filter}}">{{ article.website }}</a>
        为了获得更好的阅读体验及欣赏原文评论，维京博客推荐您<a href="{{ article.url_old }}">查看原文</a></p>
            <p>如果本文是您的原创，
            请<a href="{% url 'blog:article' 2747 article.title %}">点此进入申述页面</a>留言申述
            或<a href="mailto:1323800521@qq.com">通过邮件联系我</a>
        </p>
    {% endif %}
</div>
